* {
  color: white;
}

:root {
  --main: #141922;
  --footer: #282828;
  --cta: rgba(9, 11, 18, 95);
  --sidebar: #000000;
  --text: #7b7d81;
  --text-signed: #adff2e;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--main);
}

main {
  display: flex;
  height: 90vh;
}

/***** BOX LATERALE CON LOGO - ICONE - PLAYLIST *****/
.first-box {
  flex-basis: 35%;
  padding: 15px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*** SIDEBAR ***/

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*** SIDEBAR Icone in alto***/
ul {
  list-style: none;
}

li {
  color: var(--text);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

li > span {
  color: var(--text);
  font-size: 1rem;
}

.sidebar-logo > img[alt$="small"] {
  display: none;
}

.sidebar-logo,
.icon-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-top {
  border-left: var(--text-signed);
}

/*** SIDEBAR Playlist***/

.sidebar .playlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playlist > li > i {
  color: #000000;
  background-color: var(--text);
  padding: 5px;
}

.playlist > li {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*** SIDEBAR icone in basso ***/

.icon-down {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-down a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.icon-down a span {
  color: var(--text);
}

hr {
  width: 100%;
}

.icon-down .app span {
  font-size: 0.8rem;
}

.icon-down .profile img {
  background-color: var(--text);
  border-radius: 20px;
}

/***** BOX CENTRALE *****/

.second-box {
  flex-basis: 65%;
  overflow: auto;
}

/*** Bottoni Music Box ***/

.second-box nav {
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  top: 0;

  height: 10vh;
  padding: 0px;
  text-align: right;
  background-color: var(--cta);
}

.second-box nav button {
  border: 1px solid white;
  background-color: var(--cta);
  font-size: 0.5rem;
  padding: 2px 10px;
  border-radius: 20px;
  height: 5vh;
}

.music-box .category {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 15px;
}

.category > h4 {
  font-size: 0.7rem;
  padding: 0px 5px;
  color: var(--text);
  font-family: sans-serif;
}

/*** Titoli Sezioni Music Box ***/
.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-section {
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 2rem;
}

.subtitle-section {
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 0.7rem;
  color: var(--text);
}
/***** MUSIC BOX *****/

.music-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/***** ROW CARD *****/

.music-row , .music-row-nd , .music-row-rd {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  flex-basis: calc(100% / 2 - 30px);
  flex-shrink: 1;
  height: 100%;
}

.card img {
  width: 100%;
}

.card > h5 {
  font-family: sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

.card .subtitle {
  color: var(--text);
}

.music-row-rd .card>img {
  border-radius: 100px;
}

/***** MUSIC PLAYER *****/

aside {
  height: 10vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  bottom: 0;
  background-color: var(--footer);
  gap: 5px;

}

/***** MUSIC PLAYER - Parte Sinistra *****/
.utilities {
  flex-basis: 30%;}

.utilities,
.utilities > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.utilities > div img {
  width: 8vw;
}

.utilities > div article {
  font-family: sans-serif;
  font-size: 0.5rem;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 10px;
}

.icon-left {
  font-size: 0.6rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/***** MUSIC PLAYER - Parte Centrale *****/

.player {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.player-top.icon {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-bottom {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.text-player {
  font-size: 0.45rem;
  font-family: sans-serif;
}

.container-song-bar {
  height: 2px;
  background-color: gray;
  width: 70%;
  border-radius: 15px;
}

.song-bar {
  height: 2px;
  background-color: #c1c1c1;
  width: 40%;
  border-radius: 15px;
}

/***** MUSIC PLAYER - Parte Destra *****/

.utilities-right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-basis: 30%;

  justify-content: center;
  align-items: center;
}

.icon-right {
  display: flex;
  gap: 5px;
  font-size: 0.5rem;
}

.container-sound-bar {
  height: 2px;
  background-color: gray;
  width: 50%;
  border-radius: 15px;
}

.sound-bar {
  height: 2px;
  background-color: #c1c1c1;
  width: 40%;
  border-radius: 15px;
}
